body{
    height: 100%;
    background-color: rgb(182, 143, 72);
}
section{
    border: 2px solid black; 
    width: 200px;
    background-color: #6888ac;
    overflow: hidden;
    

}

section .sidelink {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

section .logo{
    width: 99%;
    height: 200px;
}

.iconpng{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 200px;
    width: 99%;
    
}
.list{
    flex: 1;
}
a{
    margin-top: 5%;
    display: flex;
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:hover{
    color: #74A089;
}

.lastlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.pp{
    margin-top: 10px;
    
    height: 140px;
}

.username{
   
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center
}