body{
    background-color: lightpink;
    font-size: 30px;
}

.responsive{
    width: 90%;
    height: auto;
}

.titles{
    border: 1.5px solid black;
}
.title{
word-wrap: normal;
margin-left: 30px;
}
.texts{
    display: flex;
    margin-right: 4%;
    margin-left: 5%;
    word-wrap: normal;
}

.item1{
    display: flex;
    border: 1.5px solid black
}
.cardd{
    
    width: 30rem;
    border: 1.5px solid black;
    
}