:root{
    --red:#D12A06;
    --pink:#CC60BA;
    --radius:250px;
    --height:250px;
    --width:250px;
    
}

body {
    background-color: var(--red)
}

.ball {
    background-color: var(--pink);
    width: var(--width);
    height: var(--height);
    border-radius: var(--radius);
}
